*
!.config/
!.config/i3/
!.config/i3/config
!.config/i3status/
!.config/i3status/config
!.config/nvim/init.nvim
!.config/ranger/
!.config/ranger/rc.conf
!.config/termite/
!.config/termite/config
!.config/i3-scrot.conf
!.scripts/
!.scripts/backlight.sh
!.scripts/dmenu_recent
!.scripts/i3_lock.sh
!.bash_profile
!.bashrc
!.dir_colors
!.gitconfig
!.gitignore
!.vimrc
!.xinitrc
!.Xresources
!.zprofile
!.zshrc
